[Unit]
Description=Zentyal fetchmail daemon

[Service]
Type=simple
User=fetchmail
ExecStart=/usr/bin/fetchmail --nodetach -f /etc/zentyal-fetchmail.rc
Restart=always
SuccessExitStatus=1
RestartSec=30
